<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data inser -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}
<br>
<br>
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<div class="homePageFlex">
<div class="recommendedProperties">
	<h1>Featured Properties</h1>
	<hr>

</div>

<div class="quickSearch">
	<h1>Quick Search</h1>
	<hr>
	
</div>
</div>
{% endblock %}
</body>
</html>