<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data inser -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}
<br>
<br>
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<div class="homePageFlex">
<div class="recommendedProperties">
	<h1>Featured Properties</h1>
	<hr>
	<div class="propertyDisplay">
		
		{% for property in property %}
		<div class="propertyQuickImage">
		
		<img src="{{url_for('static', filename='PL' ~ loop.index)}}" height="100px" width="100px" alt="House 1" />
		
		</div>
		<div class="propertyQuickDetails">
		<table>                      
		
			<tr>
				<td> Property Address </td>
				<td>{{ property['propertyAddress']}}</td>
			</tr>
			<tr>
				<td> Property Address Line 2 </td>
				<td> {{ property['propertyCity']}} {{ property['propertyState']}} {{ property['propertyZip']}}</td>
			</tr>
			<tr>
				<td>
				<form action="{{ url_for('displayPropertyByID') }}" method="post" autocomplete="off">   
					<input id="propertyID" name="propertyID" type="hidden" value="{{ property['propertyID']}}">  
					<input type="submit" value="View More ">
				</form>
			</td>
			</tr>
			<br>
		</table>
	</div>
		{% endfor %}
	</div>
	
</div>

<div class="quickSearch">
	<h1>Quick Search</h1>
	<hr>
	
</div>
</div>
{% endblock %}
</body>
</html>