<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data inser -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}

<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<div class="container-fluid">
<div class="row justify-content-around">
<div class="col-5 align-self-start  recommendedProperties">
	<h1 class="recommendedPropertyTitle">Featured Properties</h1>
	<hr>
	<div class="row  propertyDisplay">
		
		{% for property in property %}
		<div class="col-4 p-3 propertyQuickImage">
		{% if loop.index ==1 %}

		<img class="rounded mx-auto d-block" src="{{url_for('static', filename= PL1)}}" height="125px" width="125px" alt="House 1" />
		{% endif %}
		{% if loop.index ==2 %}

		<img class="rounded mx-auto d-block" src="{{url_for('static', filename= PL2)}}" height="125px" width="125px" alt="House 1" />
		{% endif %}
		{% if loop.index ==3 %}

		<img class="rounded mx-auto d-block" src="{{url_for('static', filename= PL3)}}" height="125px" width="125px"  alt="House 1" />
		{% endif %}
		</div>
		<div class="mt-n5 p-3 propertyQuickDetails col-8 ">
		<table>                      
		
			<tr>
				<td> Property Address </td>
				<td>{{ property['propertyAddress']}}</td>
			</tr>
			<tr>
				<td> Property Address Line 2 </td>
				<td> {{ property['propertyCity']}} {{ property['propertyState']}} {{ property['propertyZip']}}</td>
			</tr>
			<tr>
				<td>
				<form action="{{ url_for('displayPropertyByID') }}" method="post" autocomplete="off">   
					<input id="propertyID" name="propertyID" type="hidden" value="{{ property['propertyID']}}">  
					<input type="submit" value="View More ">
				</form>
			</td>
			</tr>
			<br>
		</table>
	</div>
		{% endfor %}
	</div>
	
</div>

<div class="col-5 quickSearch">
	<h1 class="recommendedPropertyTitle">Quick Search</h1>
	<hr>
	<div class="container-fluid h-100 ">
		<div class="row justify-content">
			<div class="d-flex flex-column">
		<div class="quicksearchtext d-flex pb-5  ">
	<form action="{{ url_for('quickOwnerID') }}" method="post" autocomplete="off">
		<h3 style="padding-left:45px;padding-bottom:0px;margin-bottom:0px;height: 20px;">Enter The Owner ID:</h3>
		<br>
		<input type="number" name="ownerID" placeholder="Owner ID " id="ownerID" required style="
  	  	padding-left: 2px;
    	padding-right: 2px;
    	width: 241px;
   	 	margin-left: 47px;">
		<br>
		<br>
		<input type="submit" value="Search" style="
    	margin-left: 50px;
    	padding-left: 30px;
    	padding-right: 30px;">
		</form>
</div>

<div class="d-flex  pt-3 pb-5">
	<form action="{{ url_for('quickLeaseID') }}" method="post" autocomplete="off">
		<h3 style="padding-left:45px;padding-bottom:0px;margin-bottom:0px;height: 20px;">Enter The Lease ID:</h3>
		<br>
		<input type="number" name="leaseID" placeholder="Lease ID" id="leaseID" required style="padding-left: 2px;
    	padding-right: 2px;
    	width: 241px;
   	 	margin-left: 47px;">
		<br>
		<br>
		<input type="submit" value="Search" style="
    	margin-left: 120px;
    	padding-left: 30px;
    	padding-right: 30px;">
	</form>
</div>

<div class="d-flex  pt-3 pb-5">
	<form action="{{ url_for('quickPropertyID') }}" method="post" autocomplete="off">
		<h3 style="padding-left:30px;padding-bottom:0px;margin-bottom:0px;height: 20px;">Enter The Property ID:</h3>
		<br>
		<input type="number" name="propertyID" placeholder="Property ID" id="propertyID" required style="padding-right: 2px;
    	width: 241px;
   	 	margin-left: 47px;">
		<br>
		<br>
		<input type="submit" value="Search" style="margin-left: 120px;
    	padding-left: 30px;
    	padding-right: 30px;">
		</form>
	</div>
	</div>
	</div>
	</div>
</div>
</div>
</div>
{% endblock %}
</body>
</html>