<!DOCTYPE html>
<html>
	<head>
		<!-- meta charset="utf-8" -->
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<!-- link rel="stylesheet" href="style.css" -->
		<!-- link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" -->
		<!-- link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" -->
	</head>

	<body>
		<div class="centerImage">
		<img src="{{url_for('static', filename='Company_Logo.png')}}"  alt="Company Logo" />
		</div>

		<div class="login">
			
			<h1>Login</h1>
			
			<form action="{{ url_for('login') }}" method="post">
				<label for="username">
					<img src="{{url_for('static', filename='newIcon.png')}}" height="50px" width="50px" alt="Company Logo" />
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<img src="{{url_for('static', filename='passwordIcon.png')}}"  alt="Company Logo" />
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>