<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="all.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Super Awesome Login Website</h1>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('newOwner') }}"><i class="fas fa-user-circle"></i>New Owner</a>
				<a href="{{ url_for('searchOwnerPage') }}"><i class="fas fa-user-circle"></i>Search Owners</a>
				<a href="{{ url_for('newProperty') }}"><i class="fas fa-user-circle"></i>New Property</a>
				<a href="{{ url_for('newTenant') }}"><i class="fas fa-user-circle"></i>New Tenants</a>
				<a href="{{ url_for('home') }}"><i class="fas fa-user-circle"></i>Home</a>
				<a href="{{ url_for('leaseMainPage') }}"><i class="fas fa-user-circle"></i>Leases</a>
				<a href="{{ url_for('searchTenantPage') }}"><i class="fas fa-user-circle"></i>Search Tenants</a>
				<a href="{{ url_for('searchPropertyPage') }}"><i class="fas fa-user-circle"></i>Search Properties</a>
				<a href="{{ url_for('searchLeasePage') }}"><i class="fas fa-user-circle"></i>Search Leases</a>



			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>