<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Information Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div>
    <h2>Lease Information</h2>
			<div class="profileInfo">
				<p>Lease details are below</p>

                {% for lease in lease %}
                <table>                               
                    <tr>
                        <td> Lease Address </td>
                        <td> {{ lease['propertyAddress']}} {{ lease['propertyAddressLine2']}}</td>
                    </tr>
                    <tr>
                        <td> lease Address Line 2 </td>
                        <td> {{ lease['propertyCity']}} {{ lease['propertyState']}} {{ lease['propertyZip']}}</td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td>{{lease['startDate']}}</td>
                    </tr>
                    <tr>
                        <td>End Date</td>
                        <td>{{lease['endDate']}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{lease['price']}}</td>
                    </tr>
                </table>
                <hr>
                {% endfor %}
			</div>
		</div>
{% endblock %}

</body>
</html>