<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Leases</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="all.css">
		
	</head>
	<body>
	
        {% extends 'layout.html' %}

        {% block title %}New Lease{% endblock %}

        {% block content %} 

		
		<div>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}
        

			<h1>Lease Main Page</h1>
			<form action="newLeaseCreation" method="post">
				<button name="Create New Lease" onclick="newLeaseButton()">Create New Lease </button>
				<input name="Search Lease" type="button" value="Search Lease" />
				</form>
				&nbsp;
					</div>

		{% endblock %}
	</body>
</html>