<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>New Lease</title>
		
	</head>
	<body>
	
        {% extends 'layout.html' %}

        {% block title %}New Lease{% endblock %}

        {% block content %} 

		
		<div>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}

		<div>
			<div class="container-fluid ">
				<div>
			<div class="text-center">
			<h1>New Lease Details</h1>
			</div>
			<hr>
			<br />
			<div class="row searchPageBackground ">
			<div class="col-5 p-3 m-3">
			<form action="{{ url_for('newLease') }}" method="post" autocomplete="off">
				
				<label for="startDate">Enter The Start Date Of The Lease:</label>
				<input type="date" name="startDate" placeholder="Start Date" id="startDate" required>
				<br> <br>
				<label for="endDate">Enter The End Date Of The Lease:</label>

				<input type="date" name="endDate" placeholder="End Date" id="endDate" required>
				<br> <br>
				<label for="price">Enter The Price Of The Lease:</label>

				<input type="number" name="price" placeholder="Price" id="price" required>
				<br><br>
				
				<!-- Hidden rental insurance necessary for sending over a 0 when the user doesn't want rental insurance -->
				<label for="rentalInsurance">Does The Lease Have Rental Insurance?</label>
				<input type="checkbox" name="rentalInsurance" id="rentalInsurance" value="1">
				<input type="hidden" name="rentalInsurance" id="rentalInsurance" value="0">

				
			</div>
			<div class="col-5 p-3 m-3">

				<label for="rentalAgent">Name Of The Rental Agent:</label>
				<input type="text" name="rentalAgent" placeholder="Rental Agent" id="rentalAgent" required>

				<br><br>
				<label for="tenantID">Enter The Tenant ID:</label>
				<input type="number" name="tenantID" placeholder="Tenant ID" id="tenantID" required>
				<br><br>
				<label for="propertyID">Enter The Property ID:</label>

				<input type="number" name="propertyID" placeholder="property ID" id="propertyID" required>
			</div>
		</div>
		<div class="text-center">
			<br>
				<input type="submit" value="Create">
			</div>
			</form>
		
		</div>
	</div>
	</div>	
</div>

		{% endblock %}
	</body>
</html>