<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>New Lease</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="all.css">
		
	</head>
	<body>
	
        {% extends 'layout.html' %}

        {% block title %}New Lease{% endblock %}

        {% block content %} 

		
		<div>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}

				<br>
			<h1>New Lease Details</h1>
			
			<form action="{{ url_for('newLease') }}" method="post" autocomplete="off">
				<label for="startDate">Enter The Start Date Of The Lease:</label>
				<input type="date" name="startDate" placeholder="Start Date" id="startDate" required>
				<label for="endDate">Enter The End Date Of The Lease:</label>

				<input type="date" name="endDate" placeholder="End Date" id="endDate" required>
				<br>
				<label for="price">Enter The Price Of The Lease:</label>

				<input type="number" name="price" placeholder="Price" id="price" required>

				<!-- Hidden rental insurance necessary for sending over a 0 when the user doesn't want rental insurance -->
				<input type="checkbox" name="rentalInsurance" id="rentalInsurance" value="1">
				<input type="hidden" name="rentalInsurance" id="rentalInsurance" value="0">

				<label for="rentalInsurance">Does The Lease Have Rental Insurance?</label>

				<br>

				<label for="rentalAgent">Name Of The Rental Agent:</label>
				<input type="text" name="rentalAgent" placeholder="Rental Agent" id="rentalAgent" required>
				<!-- Unneeded, as lease status will always be active when creating a new lease -->
				<!-- <label for="leaseStatus">Lease Status</label>
  				<select id="leaseStatus" name="leaseStatus">
    				<option value="Active">Active</option>
    				<option value="Cancelled">Cancelled</option>
    				<option value="Checked In">Checked In</option>
    				<option value="Checked Out">Checked Out</option>
  				</select> -->

				&nbsp;<br>
				<label for="tenantID">Enter The Tenant ID:</label>
				<input type="number" name="tenantID" placeholder="Tenant ID" id="tenantID" required>
				<label for="propertyID">Enter The Property ID:</label>

				<input type="number" name="propertyID" placeholder="property ID" id="propertyID" required>

				<input type="submit" value="Create">
			</form>
		</div>

		{% endblock %}
	</body>
</html>