<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>New Property</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="all.css">
	</head>
	<body>
        {% extends 'layout.html' %}

        {% block title %}New Property{% endblock %}

        {% block content %} 

		<div>

			{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}

			<h1>New Property Details</h1>
			
			<form action="{{ url_for('newProperty') }}" method="post" autocomplete="off">
				
				<input type="text" name="propertyAddress" placeholder="Property Address" id="propertyAddress" required>

				<input type="text" name="propertyAddressLine2" placeholder="Property Address Line 2" id="propertyAddressLine2">

				<input type="text" name="propertyCity" placeholder="Property City" id="propertyCity" required>

				<label for="propertyState">State</label>
				<select name="propertyState" id="propertyState" required>
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="DC">District Of Columbia</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				</select>


				<select name="propertyZipcode" id="propertyZipcode">
					<option value="08006">08006</option>
  					<option value="08008">08008</option>
				</select>
				<label for="propertyZipcode">Zipcode:</label>

				<input type="number" name="numOfBedrooms" placeholder="Number Of Bedrooms" id="numOfBedrooms" required>
				
				<input type="number" name="numOfBathrooms" placeholder="Number Of Bathrooms" id="numOfBathrooms" required>
				
				<input type="number" name="keyNum" placeholder ="Key Number" id="keyNum" required>

				<input type="checkbox" name="pets" id="pets" value="1">
				<input type="hidden" name="pets" id="pets" value="0">
				<label for="pets">Are Pets Allowed?</label>

				<input type="checkbox" name="pool" id="pool" value="1">
				<input type="hidden" name="pool" id="pool" value="0">
				<label for="pool">Is there a pool?</label>

				<input type="checkbox" name="bbq" id="bbq" value="1">
				<input type="hidden" name="bbq" id="bbq" value="0">
				<label for="bbq">Is there a BBQ Grill?</label>

				<input type="checkbox" name="ac" id="ac" value="1">
				<input type="hidden" name="ac" id="ac" value="0">
				<label for="ac">Is there air conditioning?</label>
				
				<input type="checkbox" name="washerDryer" id="washerDryer" value="1">
				<input type="hidden" name="washerDryer" id="washerDryer" value="0">
				<label for="washerDryer">Is there a Washer and Dryer?</label>

				<input type="number" name="numOfParkingSpots" placeholder ="Number of Parking Spots" id="numOfParkingSpots" >
				
				<input type="checkbox" name="outsideShower" id="outsideShower" value="1">
				<input type="hidden" name="outsideShower" id="outsideShower" value="0">
				<label for="outsideShower">Is there an outside shower?</label>

				<input type="text" name="wifiName" placeholder ="Wifi Name" id="wifiName" >
				
				<input type="text" name="wifiPassword" placeholder ="Wifi Password" id="wifiPassword" >
				
				<input type="checkbox" name="beachside" id="beachside" value="1">
				<input type="hidden" name="beachside" id="beachside" value="0">
				<label for="beachside">Is this property beachside?</label>
				
				<input type="checkbox" name="bayside" id="bayside" value="1">
				<input type="hidden" name="bayside" id="bayside" value="0">
				<label for="bayside">Is this property Bayside</label>
				
				<input type="checkbox" name="oceanFront" id="oceanFront" value="1">
				<input type="hidden" name="oceanFront" id="oceanFront" value="0">
				<label for="oceanfront">Is this property Oceanfront?</label>
				
				<input type="checkbox" name="bayFront" id="bayFront" value="1">
				<input type="hidden" name="bayFront" id="bayFront" value="0">
				<label for="bayfront">Is this property Bayfront?</label>

 				<input type="number" name="commissionPercentage" placeholder ="Commission Percentage" id="commissionPercentage" required >
 				
 				<input type="number" name ="ownerID" placeholder ="Owner ID" id="ownerID" required >

				
				<input type="submit" value="Create">
			</form>
		</div>
        {% endblock %}
	</body>
</html>