<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>New Property</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="all.css">
	</head>
	<body>
        {% extends 'layout.html' %}

        {% block title %}New Property{% endblock %}

        {% block content %} 

		<div>

			{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}
		<br>
			<h1>New Property Details</h1>
			
			<form action="{{ url_for('newProperty') }}" method="post" autocomplete="off" enctype="multipart/form-data">
				
				<label for="propertyAddress">Enter the Property Address: </label>
				<input type="text" name="propertyAddress" placeholder="Property Address" id="propertyAddress" required>
				<br>
				<label for="propertyAddressLine2">Enter the Property Address Line 2: </label><input type="text" name="propertyAddressLine2" placeholder="Property Address Line 2" id="propertyAddressLine2">
				<br>
				<label for="propertyCity">Enter the Property city: </label><input type="text" name="propertyCity" placeholder="Property City" id="propertyCity" required>
				<br>
				<label for="propertyState">Enter the Property State: </label>
				<select name="propertyState" id="propertyState" required>
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="DC">District Of Columbia</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				</select>
				<br>
				<label for="propertyZipcode">Enter the Property Zip: </label>
				<select name="propertyZipcode" id="propertyZipcode">
					<option value="08006">08006</option>
  					<option value="08008">08008</option>
				</select>
				<br>
				<label for="numOfBedrooms">Enter the number of Bedrooms: </label>
				<input type="number" name="numOfBedrooms" placeholder="Number Of Bedrooms" id="numOfBedrooms" required>
				<br>
				<label for="numOfBathrooms">Enter the number of Bathrooms: </label>
				<input type="number" name="numOfBathrooms" placeholder="Number Of Bathrooms" id="numOfBathrooms" required>
				<br>
				<label for="keyNum">Enter the key number: </label><input type="number" name="keyNum" placeholder ="Key Number" id="keyNum" required>
				<br>
				<input type="checkbox" name="pets" id="pets" value="1">
				<input type="hidden" name="pets" id="pets" value="0">
				<label for="pets">Are Pets Allowed?</label>
				<br>
				<input type="checkbox" name="pool" id="pool" value="1">
				<input type="hidden" name="pool" id="pool" value="0">
				<label for="pool">Is there a pool?</label>
				<br>
				<input type="checkbox" name="bbq" id="bbq" value="1">
				<input type="hidden" name="bbq" id="bbq" value="0">
				<label for="bbq">Is there a BBQ Grill?</label>
				<br>
				<input type="checkbox" name="ac" id="ac" value="1">
				<input type="hidden" name="ac" id="ac" value="0">
				<label for="ac">Is there air conditioning?</label>
				<br>
				<input type="checkbox" name="washerDryer" id="washerDryer" value="1">
				<input type="hidden" name="washerDryer" id="washerDryer" value="0">
				<label for="washerDryer">Is there a Washer and Dryer?</label>
				<br>
				<label for="numOfParkingSpots">Enter the number of parking spaces: </label> 
				<input type="number" name="numOfParkingSpots" placeholder ="Number of Parking Spots" id="numOfParkingSpots" >
				<br>
				<input type="checkbox" name="outsideShower" id="outsideShower" value="1">
				<input type="hidden" name="outsideShower" id="outsideShower" value="0">
				<label for="outsideShower">Is there an outside shower?</label>
				<br>
				<label for="wifiName">Enter the wifi name: </label>
				<input type="text" name="wifiName" placeholder ="Wifi Name" id="wifiName" >
				<br>
				<label for="wifiPassword">Enter the wifi password: </label>
				<input type="text" name="wifiPassword" placeholder ="Wifi Password" id="wifiPassword" >
				<br>
				<input type="checkbox" name="beachside" id="beachside" value="1">
				<input type="hidden" name="beachside" id="beachside" value="0">
				<label for="beachside">Is this property beachside?</label>
				<br>
				<input type="checkbox" name="bayside" id="bayside" value="1">
				<input type="hidden" name="bayside" id="bayside" value="0">
				<label for="bayside">Is this property Bayside</label>
				<br>
				<input type="checkbox" name="oceanFront" id="oceanFront" value="1">
				<input type="hidden" name="oceanFront" id="oceanFront" value="0">
				<label for="oceanfront">Is this property Oceanfront?</label>
				<br>
				<input type="checkbox" name="bayFront" id="bayFront" value="1">
				<input type="hidden" name="bayFront" id="bayFront" value="0">
				<label for="bayfront">Is this property Bayfront?</label>
				<br>
				<label for="commissionPercentage">Enter the commission percentage: </label>
				<input type="number" name="commissionPercentage" placeholder ="Commission Percentage" id="commissionPercentage" required >
 				<br>
 				<label for="ownerID">Enter the owner's ID </label>
				 <input type="number" name ="ownerID" placeholder ="Owner ID" id="ownerID" required >
				<br>
				
			
				<label for="propertyImage">Upload an Image of the property to display</label>
				<input type="file" name = "propertyImage" id = "propertyImage">
					
				 <br>
				<input type="submit" value="Create">
			</form>
		</div>
        {% endblock %}
	</body>
</html>