<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>New Tenant</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="all.css">
	</head>
	<body>
        {% extends 'layout.html' %}

        {% block title %}New Tenant{% endblock %}

        {% block content %} 

		<div>
			

			{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}
		
		<div>
			<div class="container-fluid ">
				<div>
			<div class="text-center">
			<h1>New Tenant Details</h1>
			</div>
			<hr>
			<br />
			<div class="row searchPageBackground ">
			<div class="col-5 p-3 m-3">
				<form action="{{ url_for('newTenant') }}" method="post" autocomplete="off">
					<label for="FirstName">Enter The Tenant's First Name:</label>
					<input type="text" name="FirstName" placeholder="First Name" id="FirstName" required>
					<br>
					<label for="LastName">Enter The Tenant's Last Name:</label>
					<input type="text" name="LastName" placeholder="Last Name" id="LastName" required>
					<br> <br>
					<label for="tenantEmail">Enter The Tenant's Email Address:</label>
					<input type="Email" name="tenantEmail" placeholder="Tenant Email" id="tenantEmail" required>
					<br> <br>
					
					<label for="tenantPhone">Enter The Tenant's Phone Number:</label>
					<input type="number" name="tenantPhone" placeholder="Tenant Phone" id="tenantPhone" required>
					<br> <br>
					<label for="tenantMailingAddress">Enter The Tenant's Mailing Address:</label>
					<input type="text" name="tenantMailingAddress" placeholder="Tenant Mailing Address" id="tenantMailingAddress" required>
					</div>

					<div class="col-5 p-3 m-3">
			
					<label for="tenantMailingAddressLine2">Enter The Tenant's Mailing Address Line 2:</label>
					<input type="text" name="tenantMailingAddressLine2" placeholder="Tenant Mailing Address" id="tenantMailingAddressLine2">
					<br> <br>
					<label for="tenantCity">Enter The Tenant's City:</label>
					<input type="text" name="tenantCity" placeholder="Tenant City" id="tenantCity" required>
					<br><br>
					<label for="propertyState">Tenant's State:</label>
					<select name="tenantState" id="tenantState" required>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>
					<br><br>
					<label for="tenantZipcode">Enter The Tenant's Zipcode:</label>
					<input type="number" name="tenantZipcode" placeholder="Tenant Zip Code" id="tenantZipcode" required>
					
					</div>
				</div>
				<div class="text-center">
					<br>
					<input type="submit" value="Create">
				</div>

				</form>
		</div>
			
			
			
			
		</div>
        {% endblock %}
	</body>
</html>