<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Information Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div>
    <h2>Property Information</h2>
			<div class="profileInfo">
				<p>Property details are below</p>
                <table>                               
                    <tr>
                        <td> Property Address </td>
                        <td> {{ property['propertyAddress']}} {{ property['propertyAddressLine2']}}</td>
                    </tr>
                    <tr>
                        <td> Property Address Line 2 </td>
                        <td> {{ property['propertyCity']}} {{ property['propertyState']}} {{ property['propertyZip']}}</td>
                    </tr>

                </table>
			</div>
		</div>
{% endblock %}

</body>
</html>