<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Information Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
{% extends 'layout.html' %}

{% block title %}Property Details{% endblock %}

{% block content %}
<div>
    <h2>Property Details</h2>
			<div>
				<p>Property details are below</p>
                
                <table>                      
                    <tr>
                        <td> Property ID </td>
                        <td>{{ property['propertyID']}}</td>
                    </tr>

                    <tr>
                        <td> Keynumber </td>
                        <td>{{ property['keyNumber']}}</td>
                    </tr>

                    <tr>
                        <td> Property Address </td>
                        <td>{{ property['propertyAddress']}}</td>
                        
                    </tr>
                    <tr>
                        <td> Property Address Line 2 </td>
                        <td> {{ property['propertyCity']}} {{ property['propertyState']}} {{ property['propertyZip']}}</td>
                    </tr>

                    <tr>
                        <td> Number of Bedrooms </td>
                        <td>{{ property['numOfBedroom']}}</td>
                    </tr>

                    <tr>
                        <td> Number of Bathrooms </td>
                        <td>{{ property['numOfBathroom']}}</td>
                    </tr>

                </table>
                <hr>
                
			</div>
		</div>
{% endblock %}

</body>
</html>