<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Information Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
{% extends 'layout.html' %}

{% block title %}Property Details{% endblock %}

{% block content %}
<div>
    <h2>Property Details</h2>
			<div>
				<p>Property details are below</p>
                
                <table>                      
                    <tr>
                        <td> Property ID </td>
                        <td>{{ property['propertyID']}}</td>
                    </tr>

                    <tr>
                        <td> Keynumber </td>
                        <td>{{ property['keyNumber']}}</td>
                    </tr>

                    <tr>
                        <td> Property Address </td>
                        <td>{{ property['propertyAddress']}}</td>
                        
                    </tr>
                    <tr>
                        <td> Property Address Line 2 </td>
                        <td> {{ property['propertyCity']}} {{ property['propertyState']}} {{ property['propertyZip']}}</td>
                    </tr>

                    <tr>
                        <td> Number of Bedrooms </td>
                        <td>{{ property['numOfBedroom']}}</td>
                    </tr>

                    <tr>
                        <td> Number of Bathrooms </td>
                        <td>{{ property['numOfBathroom']}}</td>
                    </tr>

                    <tr>
                        <td> Number of Parking Spots </td>
                        <td>{{ property['numOfParkingSpots']}}</td>
                    </tr>

                    <tr>
                        <td> Wifi Name </td>
                        <td>{{ property['wifiName']}}</td>
                    </tr>

                    <tr>
                        <td> Wifi Password </td>
                        <td >{{ property['wifiPassword']}}</td>
                    </tr>

                    <tr>
                        <td> Commission Percentage </td>
                        <td>{{ property['commissionPercentage']}}</td>
                    </tr>

                    <tr>
                        <td> Beachside </td>
                        {% if  property['beachside'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Bayside </td>
                        {% if  property['bayside'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Oceanfront </td>
                        {% if  property['oceanFront'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> bayfront </td>
                        {% if  property['bayFront'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Pool </td>
                        {% if  property['pool'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> BBQ </td>
                        {% if  property['bbq'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Pets </td>
                        {% if  property['pets'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Air Conditioning </td>
                        {% if  property['airConditioning'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td> Washer Dryer </td>
                        {% if  property['washerDryer'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> OutsideShower </td>
                        {% if  property['outsideShower'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                </table>
                <hr>
                
			</div>
		</div>
{% endblock %}

</body>
</html>