<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Information Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
</head>


<body>
{% extends 'layout.html' %}

{% block title %}Property Details{% endblock %}

{% block content %}

    <h2>Property Details</h2>
<div>
    <div class="container-fluid">
        <div class ="row justify-content-around">
            
            <table>
                <tr>
                    <td>
                        <img class="rounded mx-auto d-block" src="{{url_for('static', filename= property['imageLocation'])}}" height="250px" width="250px" alt="Property Image" />  
                        
                    </td>
                    <td>
                        <h1>{{ property['propertyAddress']}}, {{ property['propertyCity']}}</h1>
                    </td>
                </tr>
            </table>


            
                
        </div>

    </div>
</div>
<hr>


<div>
    <div class="container-fluid">
        <div class="row justify-content-around">
        
        <div class="col-6 align-self-start">
                <div class="col-4 p-3">
                    
                <table>  
                   
                    <tr>
                        <td> Owner ID </td>
                        <td>{{ property['ownerID']}}</td>
                    </tr>   

                    <tr>
                        <td> Owner Name </td>
                        <td>{{ property['LastName']}} , {{ property['FirstName']}} </td>
                    </tr>   
                    

                    <tr>
                        <td> Property ID </td>
                        <td>{{ property['propertyID']}}</td>
                    </tr>

                    <tr>
                        <td> Keynumber </td>
                        <td>{{ property['keyNumber']}}</td>
                    </tr>

                    <tr>
                        <td> Property Address </td>
                        <td>{{ property['propertyAddress']}}</td>
                        
                    </tr>
                    <tr>
                        <td> Property Address Line 2 </td>
                        <td> {{ property['propertyCity']}} {{ property['propertyState']}} {{ property['propertyZip']}}</td>
                    </tr>

                    <tr>
                        <td> Number of Bedrooms </td>
                        <td>{{ property['numOfBedroom']}}</td>
                    </tr>

                    <tr>
                        <td> Number of Bathrooms </td>
                        <td>{{ property['numOfBathroom']}}</td>
                    </tr>

                    <tr>
                        <td> Number of Parking Spots </td>
                        <td>{{ property['numOfParkingSpots']}}</td>
                    </tr>

                    <tr>
                        <td> Wifi Name </td>
                        <td>{{ property['wifiName']}}</td>
                    </tr>

                    <tr>
                        <td> Wifi Password </td>
                        <td >{{ property['wifiPassword']}}</td>
                    </tr>

                    <tr>
                        <td> Commission Percentage </td>
                        <td>{{ property['commissionPercentage']}}</td>
                    </tr>
                </table>
                </div>
                </div>
                <div class="col-5">
                    <iframe
                    width="400"
                    height="325"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    src="https://www.google.com/maps/embed/v1/search?q={{mapLink}}&key=AIzaSyAgc-KwN0JJrrUX-ooblE83avUjUP_6QYU">
                  </iframe>
                <table>
                    <tr>
                        <td> Beachside </td>
                        {% if  property['beachside'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Bayside </td>
                        {% if  property['bayside'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Oceanfront </td>
                        {% if  property['oceanFront'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> bayfront </td>
                        {% if  property['bayFront'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Pool </td>
                        {% if  property['pool'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> BBQ </td>
                        {% if  property['bbq'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Pets </td>
                        {% if  property['pets'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> Air Conditioning </td>
                        {% if  property['airConditioning'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td> Washer Dryer </td>
                        {% if  property['washerDryer'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td> OutsideShower </td>
                        {% if  property['outsideShower'] == 1 %}
                        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
                        {% else %}
                        <td><input type="checkbox" disabled="disabled"></td>
                        {% endif %}
                    </tr>

                </table>
                
			</div>
            </div>
        </div>
    
    </div>
    <div>
    <div class="container-fluid">
    <div class ="row justify-content-around">
        <h1>Add Unavailability</h1>
        <form id="unavailabilityform" action="{{ url_for('newPropertyUnavailability') }}" method="post" autocomplete="off">
            <label for="propertyName">Please input information for property: </label>
            <input type="text" id= "propertyAddress" name="propertyAddress" value="{{ property['propertyID']}}" readonly="readonly">
            <br>
            <label for="date">Start Date: </label>
            <input type="date" name="startDate">
            <label for="endDate">End Date: </label>
            <input type="date" name="endDate">
            <label for="Reason">Reason:</label>
            <select id="Reason" name="Reason">
                <option value="OwnerRes">Owner Reservation</option>
                <option value="BlockedOff">Blocked Off</option>
              </select> 
            <br>               
            <input type="submit" value="Submit Unavailabilty">
            
        </form>
    </div>
    </div>
    </div>

        <div class="container">

        <div id="calendar" class="calendar">
            <script>
                let calendarEl = document.getElementById('calendar');

                let calendar = new FullCalendar.Calendar(calendarEl, {
                    events: [
                        {% for event in events %}
                        {% if  event['reason'] == 'LeaseRes' %}
                        {
                            title: 'Booked',
                            start : '{{event.startDate}}',
                            end : '{{event.endDate}}',
                            allDay : true,
                            backgroundColor: '#08D9D6',
                            borderColor : '#ffffff',
                            
                        },
                        {% endif %}

                        {% if  event['reason'] == 'OwnerRes' %}
                        {
                            title: 'Owner Blocked Off',
                            start : '{{event.startDate}}',
                            end : '{{event.endDate}}',
                            allDay : true,
                            backgroundColor: '#252A34',
                            borderColor : '#ffffff',
                            
                        },
                        {% endif %}

                        {% if  event['reason'] == 'BlockedOff' %}
                        {
                            title: 'Blackout Dates',
                            start : '{{event.startDate}}',
                            end : '{{event.endDate}}',
                            allDay : true,
                            backgroundColor: '#FF2E63',
                            borderColor : '#ffffff',
                            
                        },
                        {% endif %}

                        {% endfor %}

                        {% for pricing in pricing %}
                        {
                            {% if pricing['weeklyRate'] != None %}
                            title: '${{pricing['weeklyRate']}}',
                            start : '{{pricing['startDate']}}',
                            end : '{{pricing['endDate']}}',
                            allDay : true,
                            backgroundColor: '#2ecc71',
                            borderColor : '#ffffff',
                            {% endif %}
                        },
                        {% endfor %}
                    ]
                    
                    
                });
                
                calendar.render();
            </script>
        </div>
    </div>
	</div>
    </div>
{% endblock %}

</body>
</html>