<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Leases</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="all.css">
        
		
	</head>
	<body>
        
        {% extends 'layout.html' %}

        {% block title %}New Lease{% endblock %}

        {% block content %} 

		
		<div>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}
		
			
		
        
        

			<h1>Pricing Information For Property:</h1>

			<form id = 'property'>
				<label for="propertyName">Please input information for property: </label>
				<input type="text" name="propertyAddress" value="{{property}}" disabled="disabled">
			</form>

			<form id="pricingform" action="{{ url_for('newPropertyPricing') }}" method="post" autocomplete="off">
                <label for="startDate">Start Date: </label>
                <input type="date" name="startDate">
                <label for="endDate">End Date: </label>
                <input type="date" name="endDate">
                <label for="pricing">Price for this date range: </label>
                <input type="number" name = "pricing">
            </div>
                <input type="button" onclick="addNewFields()" value="Add another price">
                <input type="submit" value="Submit Final Pricing">
                
            </form>
		
		
		{% endblock %}
	</body>
</html>