<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data inser -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}

<h2>Search Property</h2>
<h3>Search by Property ID</h3>
<form action="{{ url_for('searchPropertyByID') }}" method="post" autocomplete="off">
    <label for="PropertyID">Enter The Property ID:</label>
    <input type="number" name="propertyID" placeholder="propertyID" id="propertyID" required>
	<input type="submit" value="Search">
</form>
<hr>
<h3>Search By Property Address</h3>
<form action="{{ url_for('searchPropertyByAddress') }}" method="post" autocomplete="off">
    <label for="address">Enter The Address:</label>
    <input type="text" name="propertyAddress" placeholder="address" id="propertyAddress" required>

	<label for="ownerID">Owner</label>
	<input type="submit" value="Search">
</form>

<h3>Search by Attributes</h3>

<form action="{{ url_for('searchPropertyByAttributes') }}" method="post" autocomplete="off">
    <label for="bbq">Has a BBQ Grill</label>
    <input type="checkbox" name="bbq" id="bbq" value="1">
	<input type="hidden" name="bbq" id="bbq" value="0">

	<label for="Pool">Has a Pool:</label>
    <input type="checkbox" name="pool" id="pool" value="1">
	<input type="hidden" name="pool" id="pool" value="0">

	<input type="submit" value="Search">
</form>



{% endblock %}
</body>
</html>