<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data inser -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}

<h2>Search Page</h2>
<h3>Search by Owner ID</h3>
<form action="{{ url_for('searchOwnerByID') }}" method="post" autocomplete="off">
    <label for="ownerID">Enter The OwnerID:</label>
    <input type="number" name="ownerID" placeholder="ownerID" id="ownerID" required>
	<input type="submit" value="Search">
</form>
<hr>
<h3>Search By Owner Name</h3>
<form action="{{ url_for('searchOwnerByName') }}" method="post" autocomplete="off">
    <label for="FirstName">Enter The Name:</label>
    <input type="text" name="FirstName" placeholder="First Name" id="FirstName" required>
	<input type="submit" value="Search">
</form>

{% endblock %}
</body>
</html>