<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Property Page</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data inser -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}
<br>
<br>

<div>
    <div class="container-fluid ">
        <div class="text-center">
			<h1>Search Property</h1>
			<hr>
		</div>


<br />

<div class="row justify-content-center searchPageBackground ">
	<div class="col-5 p-3 m-3">
		<h3>Search by Property ID</h3>
		<hr>
<form action="{{ url_for('searchPropertyByID') }}" method="post" autocomplete="off">
    <label for="PropertyID"><strong>Property ID:</strong></label>
    <input type="number" name="propertyID" placeholder="Property ID" id="propertyID" required>
	
	<div class="text-center">
		<br> 
	<input type="submit" value="Search">
	</div>		

</form>

<br>
<h3>Search by Owner ID</h3>
<hr>
<br>
<form action="{{ url_for('searchPropertyByOwnerID') }}" method="post" autocomplete="off">
    <label for="ownerID"><strong> Owner ID: </strong></label>
    <input type="number" name="ownerID" placeholder="Owner ID" id="ownerID" required>
	
	<div class="text-center">
		<br> 
	<input type="submit" value="Search">
	</div>
</form>

<br>
<h3>Search By Property Address</h3>
<hr>
<br>
<form action="{{ url_for('searchPropertyByAddress') }}" method="post" autocomplete="off">
    <label for="address"><strong> Address:</strong></label>
    <input type="text" name="propertyAddress" placeholder="Address" id="propertyAddress" required>

	<div class="text-center">
		<br> 
	<input type="submit" value="Search">
	</div>
</form>

</div>
<div class="col-5 p-3 m-3">
<h3>Search by Attributes</h3>
<hr>
<table>
	<tr>
		<td>
<label for="beachsideBayside">Beachside or bayside:</label>
</td>
<td>
<select name="beachsideBayside" id="beachsideBayside">
<option value="0" >Neither</option>
<option value="1">Beachside</option>
<option value="2">Bayside</option>
</select>
</td>
</tr>
</table>

<table>
	<tr>
		<td>
<label for="oceanfrontBayfront">Oceanfront or Bayfront:</label>
</td>
<td>
<select name="oceanfrontBayfront" id="oceanfrontBayfront">
<option value="0">Neither</option>
<option value="1">Oceanfront</option>
<option value="2">Bayfront</option>
<option value="3">Both</option>
</select></td>
</tr>
</table>

<form action="{{ url_for('searchPropertyByAttributes') }}" method="post" autocomplete="off">
<table>
    <tr>
	<td><label for="bbq">Has a BBQ Grill</label></td>
    <td><input type="checkbox" name="bbq" id="bbq" value="1"></td>
	<td><input type="hidden" name="bbq" id="bbq" value="0"></td>
</tr> 
</table>
<table>
	<tr>
	<td><label for="Pool">Has a Pool:</label></td>
    <td><input type="checkbox" name="pool" id="pool" value="1"></td>
	<td><input type="hidden" name="pool" id="pool" value="0"></td>
</tr>
</table>
<table>
	<tr>
	<td><label for="Pets">Allows Pets:</label></td>
	<td><input type="checkbox" name="pets" id="pets" value="1"></td>
	<td><input type="hidden" name="pets" id="pets" value="0"></td>
</tr>
</table>


<table>
	<tr>
	<td>    <label for="ac">Has Air Conditioning:</label></td>
	<td>	<input type="checkbox" name="ac" id="ac" value="1"></td>
	<td>	<input type="hidden" name="ac" id="ac" value="0"></td>

</tr>
</table>
<table>
<tr>
<td>    <label for="washerDryer">Has a washer and dryer:</label></td>
<td>	<input type="checkbox" name="washerDryer" id="washerDryer" value="1"></td>
<td>	<input type="hidden" name="washerDryer" id="washerDryer" value="0"></td>
</tr>
</table>

<table>
    <tr>
	<td><label for="outsideShower">Has an outside shower:</label> </td>
	<td><input type="checkbox" name="outsideShower" id="outsideShower" value="1"> </td>
	<td><input type="hidden" name="outsideShower" id="outsideShower" value="0"> </td>
</tr>
</table>

<table>
    <tr>
	<td><label for="numOfBedrooms">Number of Bedrooms:</label> </td>
	<td><input type="number" name="numOfBedrooms" id="numOfBedrooms" placeholder="Enter a number here"></td>
	</tr>
</table>

<table>
    <tr>
        <td>	<label for="numOfBathrooms">Number of Bathrooms:</label></td>
	<td><input type="number" step="any" name="numOfBathrooms" id="numOfBathrooms" placeholder="Enter a number here"></td>
</tr>

	

</table>
<br>
	<div class="text-center">
		<input type="submit" value="Search">
	</div>
</form>
</div>
</div>
</div>
</div>


{% endblock %}
</body>
</html>
