<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data inser -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}
<br>
<br>
<div>
<h1>Search Lease</h1>
<br>
<h3>Search by Lease ID</h3>
<form action="{{ url_for('searchLeaseByID') }}" method="post" autocomplete="off">
    <label for="leaseID">Enter The Lease ID:</label>
    <input type="number" name="leaseID" placeholder="leaseID" id="leaseID" required>
	<input type="submit" value="Search">
</form>
<hr>
<h3>Search By Lease Status</h3>
<form action="{{ url_for('searchLeaseByStatus') }}" method="post" autocomplete="off">
    <label for="leaseStatus">Enter The Status:</label>
    <select name = "leaseStatus" placeholder="Lease Status" id="leaseStatus" required>
        <option value="" disabled selected hidden>Lease Status</option>
        <option value = "active"> Active</option>
        <option value = "Checked In">Checked In</option>
        <option value = "Checked Out">Checked Out</option>
        <option value = "cancelled">Cancelled</option>
    </select>
    <input type="submit" value="Search">
</form>

<hr>

<h3>Search By Tenant ID</h3>
<form action="{{ url_for('searchLeaseByTenant') }}" method="post" autocomplete="off">
    <label for="leaseTenant">Enter The Tenant ID:</label>
    <input type="number" name="tenantID" placeholder="Tenant ID" id="tenantID" required>
	<input type="submit" value="Search">
</form>

<hr>

<h3>Search By Property ID</h3>
<form action="{{ url_for('searchLeaseByProperty') }}" method="post" autocomplete="off">
    <label for="propertyID">Enter The Property ID:</label>
    <input type="number" name="propertyID" placeholder="Property ID" id="propertyID" required>
	<input type="submit" value="Search">
</form>

<hr>
<h3>Search By Property Address</h3>
<form action="{{ url_for('searchLeaseByAddress') }}" method="post" autocomplete="off">
    <label for="propertyAddress">Enter The Property Address:</label>
    <input type="text" name="propertyAddress" placeholder="Property Address" id="propertyAddress" required>
	<input type="submit" value="Search">
</form>

{% endblock %}
</div>
</body>
</html>