<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Search Page</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<br>
<br>
<div>
<br>
<!-- This with block displays any "Flashed" messages to the user, like a successful data insert -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}

<div>
	<div class="container-fluid ">
        <div class="text-center">
        <h1>Search Owner</h1>
        <hr>
        </div>  <!-- end of div for header -->
        <br />
        <div class="row justify-content-center searchPageBackground ">
            
          <div class="col-5 p-3 m-3">
			<h3>Search by Owner ID</h3>
			<hr>
			<br>
			<form action="{{ url_for('searchOwnerByID') }}" method="post" autocomplete="off">
    <label for="ownerID"><strong>Enter The Owner ID:</strong></label>
    <input type="number" name="ownerID" placeholder="Owner ID" id="ownerID" required>
	<div class="text-center">
	<br>
		<input type="submit" value="Search">
	</div>
</form>
</div>
<div class="col-5 p-3 m-3">
			<h3>Search By Owner Name</h3>
			<hr>
			<br>
			<form action="{{ url_for('searchOwnerByName') }}" method="post" autocomplete="off">
    <label for="LastName"><strong>Enter The Name:</strong></label>
    <input type="text" name="LastName" placeholder="Last Name" id="LastName" required>
	<div class="text-center">
	<br>
		<input type="submit" value="Search">
	</div>
</form>
</div>
</div>
{% endblock %}
</body>
</html>