<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tenant Search</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data inser -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
				  <br>
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}

<div>
	<div class="container-fluid ">
        <div class="text-center">
        <h1>Tenant Search</h1>
        <hr>
        </div>  <!-- end of div for header -->
        <br />
        <div class="row justify-content-center searchPageBackground ">
            
          <div class="col-5 p-3 m-3">
			<h3>Search by Tenant ID</h3>
			<hr>
			
			<form action="{{ url_for('searchTenantByID') }}" method="post" autocomplete="off">
				<label for="tenantID"><strong>Tenant ID:</strong></label>
				<input type="number" name="tenantID" placeholder="tenant ID" id="tenantID" required>
				<br><br>
				<div class="text-center">
					<input type="submit" value="Search">
				</div>
			</form>
			</div>

			<div class="col-5 p-3 m-3">
			<h3>Search By Tenant Name</h3>
			<hr>
			
			<form action="{{ url_for('searchTenantByName') }}" method="post" autocomplete="off">
				<label for="LastName"><strong>Name:</strong></label>
				<input type="text" name="TenantLastName" placeholder="Last Name" id="TenantLastName" required>
				<br><br>
				<div class="text-center">
					<input type="submit" value="Search">
				</div>
			</form>


			</div>
	</div>
</div>
{% endblock %}
</body>

</html>