<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lease Search Page</title>
  </head>
  <body>
    {% extends 'layout.html' %} 

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data insert -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %} 

   <div>
    <div class="container-fluid ">
        <div class="text-center">
        <h1>Search Lease</h1>
        </div>  <!-- end of div for header -->
        <br />
        <div class="row justify-content-center searchPageBackground ">
            
          <div class="col-5 p-3 m-3">
           
            <h3>Search by Lease ID</h3>
             <br>
              <form
                action="{{ url_for('searchLeaseByID') }}"
                method="post"
                autocomplete="off"
              >
                <label for="leaseID"><strong>Lease ID: </strong> </label>
                <input
                  type="number"
                  name="leaseID"
                  placeholder="leaseID"
                  id="leaseID"
                  required
                />
                <br> <br>
                <div class="px-4">
                <input type="submit" value="Search" />
                </div>
              </form>

              <br>
              <h3>Search By Lease Status</h3>
              <br>
              <form
                action="{{ url_for('searchLeaseByStatus') }}"
                method="post"
                autocomplete="off"
              >
                <label for="leaseStatus"><strong> Status: </strong></label>
                <select
                  name="leaseStatus"
                  placeholder="Lease Status"
                  id="leaseStatus"
                  required
                >
                  <option value="" disabled selected hidden>
                    Lease Status
                  </option>
                  <option value="active">Active</option>
                  <option value="Checked In">Checked In</option>
                  <option value="Checked Out">Checked Out</option>
                  <option value="cancelled">Cancelled</option>
                </select>
                <br> <br>
                <div class="px-4">
                <input type="submit" value="Search" />
                </div>
              </form>
              <br>
              <h3>Search By Tenant ID</h3>
              <br>
              <form
                action="{{ url_for('searchLeaseByTenant') }}"
                method="post"
                autocomplete="off"
              >
                <label for="leaseTenant"> <strong>ID:</strong> </label>
                <input
                  type="number"
                  name="tenantID"
                  placeholder="Tenant ID"
                  id="tenantID"
                  required
                />
                <br> <br>
                <div class="px-4">
                <input type="submit" value="Search" />
                </div>
              </form>
            
          </div>
          <div class="col-5 p-3 m-3">
            <h3>Search By Property ID</h3>
            <br>
            <form
              action="{{ url_for('searchLeaseByProperty') }}"
              method="post"
              autocomplete="off"
            >
              <label for="propertyID"><strong>Property ID:</strong></label>
              <input
                type="number"
                name="propertyID"
                placeholder="Property ID"
                id="propertyID"
                required
              />
              <br> <br>
              <div class="px-4">
              <input type="submit" value="Search" />
            </div>
            </form>
            <br>
            <h3>Search By Property Address</h3>
            <br>
            <form
              action="{{ url_for('searchLeaseByAddress') }}"
              method="post"
              autocomplete="off"
            >
              <label for="propertyAddress"><strong>Address:</strong></label>
              <input
                type="text"
                name="propertyAddress"
                placeholder="Property Address"
                id="propertyAddress"
                required
              />
              <br> <br>
                <div class="px-4">
              <input type="submit" value="Search" />
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %} 
  </body>
</html>
