<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- This with block displays any "Flashed" messages to the user, like a successful data inser -->
{% with messages = get_flashed_messages() %}
			{% if messages %}
     			 {% for message in messages %}
        			 {{ message }}
      			{% endfor %}
   			{% endif %}
		{% endwith %}
<br>
<br>



	
<h2>Search Property</h2>
<h3>Search by Property ID</h3>

<form action="{{ url_for('searchPropertyByID') }}" method="post" autocomplete="off">
    <label for="PropertyID">Enter The Property ID:</label>
    <input type="number" name="propertyID" placeholder="Property ID" id="propertyID" required>
	<input type="submit" value="Search">


</form>



<hr>
<h3>Search by Owner ID</h3>
<form action="{{ url_for('searchPropertyByOwnerID') }}" method="post" autocomplete="off">
    <label for="ownerID">Enter The Owner ID:</label>
    <input type="number" name="ownerID" placeholder="Owner ID" id="ownerID" required>
	<input type="submit" value="Search">
</form>
<hr>

<h3>Search By Property Address</h3>
<form action="{{ url_for('searchPropertyByAddress') }}" method="post" autocomplete="off">
    <label for="address">Enter The Address:</label>
    <input type="text" name="propertyAddress" placeholder="Address" id="propertyAddress" required>
	<input type="submit" value="Search">
</form>

<h3>Search by Attributes</h3>


<form action="{{ url_for('searchPropertyByAttributes') }}" method="post" autocomplete="off">
<table>
    <tr>
	<td><label for="bbq">Has a BBQ Grill</label></td>
    <td><input type="checkbox" name="bbq" id="bbq" value="1"></td>
	<td><input type="hidden" name="bbq" id="bbq" value="0"></td>
</tr> 
</table>
<table>
	<tr>
	<td><label for="Pool">Has a Pool:</label></td>
    <td><input type="checkbox" name="pool" id="pool" value="1"></td>
	<td><input type="hidden" name="pool" id="pool" value="0"></td>
</tr>
</table>
<table>
	<tr>
	<td><label for="Pets">Allows Pets:</label></td>
	<td><input type="checkbox" name="pets" id="pets" value="1"></td>
	<td><input type="hidden" name="pets" id="pets" value="0"></td>
</tr>
</table>


    <label for="beachsideBayside">Is beachside or bayside:</label>
	<select name="beachsideBayside" id="beachsideBayside">
	<option value="0" >Neither</option>
	<option value="1">Beachside</option>
	<option value="2">Bayside</option>
	</select>

	
  <label for="oceanfrontBayfront">Is Oceanfront or Bayfront:</label>
	<select name="oceanfrontBayfront" id="oceanfrontBayfront">
	<option value="0">Neither</option>
	<option value="1">Oceanfront</option>
	<option value="2">Bayfront</option>
	<option value="3">Both</option>
	</select>

<table>
	<tr>
	<td>    <label for="ac">Has Air Conditioning:</label></td>
	<td>	<input type="checkbox" name="ac" id="ac" value="1"></td>
	<td>	<input type="hidden" name="ac" id="ac" value="0"></td>

</tr>
</table>
<table>
<tr>
<td>    <label for="washerDryer">Has a washer and dryer:</label></td>
<td>	<input type="checkbox" name="washerDryer" id="washerDryer" value="1"></td>
<td>	<input type="hidden" name="washerDryer" id="washerDryer" value="0"></td>
</tr>
</table>

<table>
    <tr>
	<td><label for="outsideShower">Has an outside shower:</label>
	<td><input type="checkbox" name="outsideShower" id="outsideShower" value="1">
	<td><input type="hidden" name="outsideShower" id="outsideShower" value="0">
</tr>
</table>

<table>
    <tr>
	<td><label for="numOfBedrooms">Number of Bedrooms:</label>
	<td><input type="number" name="numOfBedrooms" id="numOfBedrooms" placeholder="Enter a number here">
	</tr>
</table>

<table>
    <tr>
        <td>	<label for="numOfBathrooms">Number of Bathrooms:</label>
	<td><input type="number" step="any" name="numOfBathrooms" id="numOfBathrooms" placeholder="Enter a number here">
	
<td>	<input type="submit" value="Search">
</tr>
</table>
</form>



{% endblock %}
</body>
</html>
