<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Information Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div>
    <h2>Tenant Information</h2>
			<div class="profileInfo">
				<p>Tenant details are below</p>
                <table>
                    <tr>
                        <td> Tenant Name </td>
                        <td> {{ tenant['FirstName']}}  {{ tenant['LastName']}}</td>
                    </tr>
                    <tr>
                        <td> Tenant Email </td>
                        <td> {{ tenant['Email']}}</td>
                    </tr>
                    <tr>
                        <td> Tenant Address </td>
                        <td> {{ tenant['mailingAddress']}} {{ tenant['mailingAddressLine2']}}</td>
                    </tr>
                    <tr>
                        <td> tenant Address Line 2 </td>
                        <td> {{ tenant['city']}} {{ tenant['state']}} {{ tenant['zip']}}</td>
                    </tr>

                </table>
			</div>
		</div>
{% endblock %}

</body>
</html>