
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/SoftwareEngineering.iml
.idea/vcs.xml
.idea/workspace.xml
pythonlogin/__pycache__/config.cpython-38.pyc
.vscode/java-formatter.xml
.vscode/settings.json
